<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thepyprogrammer.gaitanalyzer"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GaitAnalyzer"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".ui.scanner.QRCodeScanner" />
        <activity
            android:name=".ui.image.ImageDetailsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.GaitAnalyzer.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thepyprogrammer.gaitanalyzer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.image.ImagePickerActivity"
            android:label="@string/app_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.GaitAnalyzer.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thepyprogrammer.gaitanalyzer.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GaitAnalyzer.NoActionBar"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" /> <!-- cache directory file provider paths -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>
        <activity
            android:name="com.thepyprogrammer.gaitanalyzer.ui.onboarding.OnboardingActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GaitAnalyzer.NoActionBar">
        </activity>
        <activity
            android:name="com.thepyprogrammer.gaitanalyzer.ui.singlecard.SingleCardActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.GaitAnalyzer">
        </activity>
    </application>

</manifest>